#{extends 'main.html' /}
<div class="row">
	<div class="span10 offset2">
		<h1>Welcome to the Database.com Console</h1>
		<big>
		<ul class="unstyled">
			<li>Use this console to link up all your Database.com
					accounts for easy access via this Web UI and command line utilities
				
			</li>
			<li>
				&nbsp;
			</li>
			<li>
				Log in with any Salesforce.com account. The account will become the "master" account for managing other accounts.
			</li>
			<li>
				&nbsp;
			</li>
			<li>
				Download the dbc command line tool with <code>curl http://dbc-api.herokuapp.com/tool/dbc > $HOME/bin/dbc</code>
			</li>
		</ul>
		</big>
		<center>
			<a href="/database" class="btn large primary">Login</a>
		</center>
	</div>
</div>