#{extends 'singlerow.html' /}
#{set title:'Databases' /}

<form method="GET" action="/database/delete">
<input type="hidden" name="id" id="idfield" value="tesy"/>
<table>
	<thead>
		<tr>
			<th>Name</th><th>Username</th><th>Instance</th><th></th>
		</tr>
	</thead>
	<tbody>
		#{list items:list.records, as:'item'}
		<tr>
			<td>${item.name}</td>
			<td>${item.username}</td>
			<td>${item.instance}</td>
			<td><a href="/database/weblogin?id=${item.id}" class="btn primary">Web Login</a>
				<input type="submit" class="btn danger" name="delete" value="Delete" onClick="javascript:$('#idfield').val('${item.id}')"/></td>
		</tr>
		#{/list}
	</tbody>
</table>
</form>
